@media only screen and (max-width: 768px) {
    .sideNav {
        grid-area: none;
        background-color: #A0c1b8;
        height: 10vh;
        width: 100vw;
        padding-top: 0;
        position: fixed;
        margin-top: 90vh;
    }
    
    .sideNav ul li {
        padding-bottom: 0;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .sideNav ul li img {
        width: 15vw;
        height: 15vw;
    }
    
    .sideNav ul li p {
        text-align: center;
        font-size: 5vw;
    }
    
    .sideNav ul {
        background-color: #A0c1b8;
        width: 100vw;
        height: 10vh;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}
